/* Base structure */

.cover-container {
  background-image: url('../images/cover_background.jpg');
  background-size: cover;
  min-height: 50%;
}

.cover-text {
  height: 19em;
  width: 19em;
  background-image: url('../images/laptop-fill.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 1.75em;
}

.subtitle {
  font-size: 0.95em;
  margin-bottom: 0.25rem;
}

.top-50 {
  top: 49%!important;
}

.pb-9 {
  padding-bottom: 90px;
}


@media (min-width: 576px) {
  .cover-text {
    height: 22em;
    width: 25em;
  }
  .title {
    font-size: 2.25em;
  }
  .subtitle {
    font-size: 1.25em;
  }
  .top-50 {
    top: 44%!important;
  }
}


/* Header */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.toggler-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.nav-masthead .active {
  border-bottom-color: rgba(255, 255, 255, .25);
}

nav.responsive {
  display: none;
}

@media (min-width: 768px) {
  li.responsive {
    display: none;
  }
  nav.responsive {
    display: flex;
  }
}


.nav-masthead a {
	overflow: hidden;
  display: inline-block;
}

.nav-masthead a span {
	display: inline-block;
	position: relative;
	transition: transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

.nav-masthead a span::before {
	position: absolute;
	content: attr(data-hover);
  color: #fff;
  border-bottom-color: #fff;
	top: 100%;
	font-weight: 700;
	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.nav-masthead a:hover span,
.nav-masthead a:focus span {
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}



/* Body */

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)!important;
}

.infront {
  z-index: 10;
}

.vh-80 {
  height: 80vh;
}

.skill-container {
  position: relative;
  border: 1px solid #16374b;
  border-radius: 10px;
  background-color: #16374b;
  height: 110px;
  width: 100px;
}

.skill-text {
  color: #e7e7e7;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-90%)!important;
}

.skill-icon {
  height: 60px;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%,0)!important;
}

.skill-icon.short {
  top: 2%;
}
.card {
  border: 15px solid white;
}

.gradient {
  background: linear-gradient(180deg, rgba(227,218,208,0.1) 0%,  rgba(227,218,208,1) 100%);

}

.gradient hr {
  height: 2px;
  width: 92%;
  margin: 32px auto 0px auto;
}

.album {
  background-color: #16374b;
  --bs-text-opacity: 1;
}

.album a {
  color: #16374b;
  text-decoration: none;
}
.album a:visited {
  color: #16374b;
  text-decoration: none;
}

.display-6 {
  font-size: 2em;
}

.img-thumbnail {
  padding: 0px;
}

.mx-9 {
  margin-left: 100px;
  margin-right: 100px;
}

.contact-width {
  width: 200px;
}

@media (max-width: 768px) {
  .about-wrap {
    flex-wrap: wrap-reverse!important;
  }
  .img-container {
    margin-right: auto!important;
    margin-left: auto!important;
  }
}

@media (min-width: 992px) {
  .about-wrap {
    width: 992px;
    margin: auto;
  }
  
}

#Contact a {
  color: #16374b;
  text-decoration: none;
}
#Contact a:visited {
  color: #16374b;
  text-decoration: none;
}








.timeline {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem 13rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;

}
.timeline:after {
    content: "";
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -2px;
    border-right: 5px solid #16374b;
    height: 83%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #16374b;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #16374b;
    color: #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 22px;
    height: 16px;
    width: 18px;
    background: #16374b;
    border-radius: 2px;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 18px;
    right: -53px;
    width: 25px;
    height: 25px; 
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #de6600;
    border: 3px solid #16374b;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 2px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content h5 {
  font-weight: 400;
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #272e48;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}